{% trans %}
    Clicking on the <strong>Pay Now</strong> button will redirect you
    to the Open Collective site in order to complete your payment.
{% endtrans %}

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <dt></dt>
    <dd>
        <a class="i-button" href="https://opencollective.com/{{event_settings.collective_slug}}{% if event_slug %}/events/{{event_slug}}{% endif %}/donate?interval=oneTime&amount=10&redirect={{redirect_url}}">
            {%- trans %}Pay Now{% endtrans -%}
        </a>
    </dd>
</dl>
